.contact-section {
	padding: 96px 0 0 0;

	@media screen and (min-width: $bp-tablet) {
		padding: 96px 0;
	}
}

.contact-title {
	margin-bottom: 16px;
}

.contact-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: stretch;
	justify-content: space-between;

	@media screen and (min-width: $bp-tablet) {
		flex-direction: row;
		gap: 32px;
	}
}

.contact-p {
	margin-bottom: 42px;
}

.contact-bottom {
	display: block;
	margin: 0 auto;
}
.p {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.contact-map {
	flex-shrink: 0;
	height: 176px;
	margin: 0 -24px;
	border-radius: 16px;
	border: none;

	@media screen and (min-width: $bp-tablet) {
		margin: auto;
		width: 320px;
		height: 500px;
	}

	@media screen and (min-width: $bp-desktop) {
		width: 600px;
		height: 595px;
	}
}
